@media only screen and (min-width: 1855px) {
  footer .footer__1 {
    justify-content: center;
    gap: 26% !important;
  }
  .navbar-brand {
    transition: 0.3s ease;
  }
  .navbar-brand.sticky {
    color: #1a202c !important;
    transition: 0.3s ease;
  }
  .navbar .navbar-nav .nav-link.sticky {
    color: #1a202c !important;
    transition: 0.3s ease;
  }
  .navbar {
    transition: 0.3s ease;
  }
  .navbar.sticky {
    background-color: white !important; 
    padding-bottom: 1rem !important;
    transition: 0.3s ease;
  }

  footer .footer__2 {
    gap: 10% !important;
  }

  .hal_1 {
    padding-top: 8rem;
  }

  .hal_2 {
    padding-top: 3rem;
    height: 220vh;
  }

  .hal_2 .hal_2_bagian_satu .hal_2_image_dua {
    left: 11%;
    bottom: 0%;
  }
  .hal_2 .hal_2_bagian_satu .hal_2_image_satu {
    left: 20%;
    top: 122px;
  }

  .hal_2 .hal_2_bagian_satu .hal_2_image_satu img {
    width: 700px;
    height: 800px;
  }
  .hal_2 .hal_2_bagian_satu .hal_2_image_dua img {
    width: 500px;
  }

  .hal_2 .hal_2_bagian_satu .hal_2_visimisi {
    width: 39%;
    left: 45%;
    top: 29%;
  }

  .hal_2_bagian_dua {
    margin-top: 10%;
  }

  .hal_2_bagian_dua .card_bagian_dua .card_1 {
    width: 600px;
    height: 285px;
  }
  .hal_2_bagian_dua .card_bagian_dua .card_2 {
    width: 600px;
    height: 265px;
  }

  .hal_2_bagian_dua .image_bagian_dua_123 {
    height: 583px;
    width: 1110px;
  }
  .btn_bagian_dua {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: 8%;
    margin-left: 27rem;
  }

  .hal_3 {
    height: 88vh;
  }

  .card_kerusakan_hutan {
    gap: 4rem;
  }

  .card {
    width: 540px;
  }

  .card .card-body .btn {
    width: 130px;
  }

  .card .tanggal_Jenis_kerusakan {
    bottom: 30.52%;
  }

  /* hal 4 */

  .button_hal_4 {
    margin-top: 26%;
  }
  .konten_hal_4_bagian_2 .kotak {
    width: 550px !important;
    height: 350px !important;
  }
  .hal_4_bagian_2 .bg_hal_4_bagian_2 {
    width: 80%;
    height: 600px;
  }
  .konten_hal_4_bagian_2 .kotak.active {
    height: 390px !important;
  }
  .konten_hal_4_bagian_2 .kotak.aktif {
    margin-left: 2%;
  }
  .konten_hal_4_bagian_2 .kotak.aktif_2 {
    margin-right: 2%;
  }

  /* hal 6 */
  .konten_hal_6 img {
    width: 800px;
  }
  .konten_hal_6 .button_before_after button {
    width: 100px;
    height: 32px;
  }
  .hal_6 .bulat {
    width: 131px;
    height: 131px;
    margin-left: -1%;
  }
  .hal_6 .bulat2 {
    width: 131px;
    height: 131px;
    margin-right: -1%;
  }
}
@media only screen and (max-width: 1854px) {
  .konten_hal_4_bagian_2 .kotak {
    width: 450px !important;
    height: 350px !important;
  }
  .konten_hal_4_bagian_2 .kotak.kotak.active {
    height: 390px !important;
  }
  .hal_4_bagian_2 .bg_hal_4_bagian_2 {
    width: 80%;
    height: 600px;
  }
  footer .footer__1 {
    justify-content: center;
    gap: 21% !important;
  }

  footer .footer__2 {
    gap: 7.4% !important;
  }

  /* hal 4 */

  .button_hal_4 {
    margin-top: 30%;
  }
  .konten_hal_4_bagian_2 .kotak.aktif {
    margin-left: 4rem;
  }
  .konten_hal_4_bagian_2 .kotak.aktif_2 {
    margin-right: 4rem;
  }

  /* hal 6 */
  .hal_6 .bulat {
    width: 131px;
    height: 131px;
    margin-left: -39px;
  }
  .hal_6 .bulat2 {
    width: 131px;
    height: 131px;
    margin-right: -35px;
  }
}
@media only screen and (max-width: 1680px) {
  .navbar-brand {
    transition: 0.3s ease;
  }
  .navbar-brand.sticky {
    color: #1a202c !important;
    transition: 0.3s ease;
  }
  .navbar {
    transition: 0.3s ease;
  }
  .navbar.sticky {
    background-color: white !important; 
    padding-bottom: 1rem !important;
    transition: 0.3s ease;
  }
  .konten_hal_4_bagian_2 .kotak {
    width: 450px !important;
    height: 350px !important;
  }
  .konten_hal_4_bagian_2 .kotak.kotak.active {
    height: 390px !important;
  }
  .hal_4_bagian_2 .bg_hal_4_bagian_2 {
    width: 80%;
    height: 600px;
  }
  footer .footer__1 {
    justify-content: center;
    gap: 0% !important;
  }

  footer .footer__2 {
    gap: 0% !important;
  }

  /* hal 4 */

  .button_hal_4 {
    margin-top: 30%;
  }
  .konten_hal_4_bagian_2 .kotak.aktif {
    margin-left: 4rem;
  }
  .konten_hal_4_bagian_2 .kotak.aktif_2 {
    margin-right: 4rem;
  }

  /* hal 6 */
  .konten_hal_6 img {
    width: 700px;
  }
  .hal_6 .bulat {
    margin-left: 0;
  }
  .hal_6 .bulat2 {
    margin-right: 0;
  }
}
@media only screen and (max-width: 1568px) {
  .konten_hal_4_bagian_2 .kotak {
    width: 400px !important;
    height: 350px !important;
  }
  .konten_hal_4_bagian_2 .kotak.kotak.active {
    height: 390px !important;
  }
  .hal_4_bagian_2 .bg_hal_4_bagian_2 {
    width: 80%;
    height: 600px;
  }
  footer .footer__1 {
    justify-content: center;
    gap: 12% !important;
  }

  footer .footer__2 {
    gap: 3.5% !important;
  }

  /* hal 4 */

  .button_hal_4 {
    margin-top: 34%;
  }
  .konten_hal_4_bagian_2 .kotak.aktif {
    margin-left: 2rem;
  }
  .konten_hal_4_bagian_2 .kotak.aktif_2 {
    margin-right: 2rem;
  }

  /* hal 6 */
  .konten_hal_6 img {
  }
  .konten_hal_6 .button_before_after button {
  }
  .hal_6 .bulat {
  }
  .hal_6 .bulat2 {
  }
}

@media only screen and (max-width: 1367px) {
  .hal_2 .hal_2_bagian_satu .hal_2_visimisi .btn_visi_misi .btn_1 {
    background-color: #eaa51b;
    border-radius: 13px 0px 0px 13px;
    padding: 1rem 6rem;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
  }
  .hal_2 .hal_2_bagian_satu .hal_2_visimisi .btn_visi_misi .btn_2 {
    background: #e2e7f0;
    border-radius: 0px 13px 13px 0px;
    padding: 1rem 6rem;
    font-weight: bold;
    color: #1a202c;
    font-size: 20px;
  }

  .hal_2 .hal_2_bagian_satu .hal_2_visimisi {
    width: 50%;
    background-color: #fff;
    padding-left: 3rem;
    padding-top: 4rem;
    padding-bottom: 5rem;
    border-radius: 24px;
    left: 45%;
    top: 24%;
}

  .hal_2_bagian_dua .card_bagian_dua .card_1 {
    width: 450px;
    padding-left: 4rem;
}
.hal_2_bagian_dua .card_bagian_dua .card_2 {
  width: 450px;
  padding-left: 4rem;
}

.hal_2_bagian_dua .card_1 div h3 {
  margin-top: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  width: 100%;
}
.hal_2_bagian_dua .card_2 div h3 {
  margin-top: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  width: 100%;
}
  .image_bagian_dua_123 {
    width: 725px;
  }

  .btn_bagian_dua {
    margin-left: 14rem;
  }

  .hal_2_bagian_dua {
    margin-top: 17%;
    padding-bottom: 150px;
  }

  .hal_2 {
    height: 305vh;
    background-image: url(../img/img_landing_page/bg.png);
    background-size: cover;
  }

  .card_kerusakan_hutan {
    gap: 2.2rem;
  }

  .card {
    width: 383px !important;
  }


  .card .tanggal_Jenis_kerusakan {
    bottom: 37.7% !important;
  }

  .card .card-body .btn {
    font-size: 13px;
  }
  .konten_hal_4_bagian_2 .kotak.aktif {
    margin-left: -0.5rem;
  }
  .konten_hal_4_bagian_2 .kotak.aktif_2 {
    margin-right: -1rem;
  }
  .button_hal_4 {
    margin-top: 35%;
  }

  footer .footer__1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
  }

  footer .footer__1 h1 {
    font-size: 32px;
  }

  footer .footer__2 .subfooter___1 {
    position: relative;
    width: 28%;
  }

  footer .footer__2 .subfooter___1 h2 {
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    left: 24%;
  }

  footer hr {
    width: 89%;
  }

  footer .footer__1 {
    justify-content: center;
    gap: 9% !important;
  }

  footer .footer__2 {
    gap: 3.5% !important;
  }

  footer .footer__2 .subfooter___1 h2 {
    bottom: -67px;
  }

  footer .footer__2 .subfooter___3 p {
    width: 75%;
  }

  footer .footer__2 .subfooter___3 div {
    justify-content: flex-start;
    align-items: start;
  }
  /* hal 4 bagian 2 start */

  .hal_6 .bulat {
    width: 111px;
    height: 111px;
    margin-top: -55px;
    margin-left: -4rem;
  }
  .hal_6 .bulat2 {
    width: 111px;
    height: 111px;
    margin-bottom: -50px;
    margin-right: -4rem;
  }

  .konten_hal_6 img {
    width: 600px;
  }

  .konten_hal_6 .button_before_after button {
    width: 85px;
    height: 32px;
  }
}

@media only screen and (max-width: 820px) and (max-height: 1180px) {
  
}

@media only screen and (max-width: 434px) {
  .navbar-toggler {
    height: 40px !important;
    font-size: 16px !important;
    margin-top: -1.7rem;
  }

  .navbar-brand {
    transition: 0.3s ease;
  }
  .navbar-brand.sticky {
    color: #1a202c !important;
    transition: 0.3s ease;
  }
  .navbar {
    transition: 0.3s ease;
  }
  .navbar.sticky {
    background-color: white !important; 
    padding-bottom: 1rem !important;
    transition: 0.3s ease;
  }
  .background_landing_page {
    height: 100vh;
  }
  
  .hal_1 h1 {
    font-size: 42px;
    padding: 1rem;
  }
  .hal_1 h5 {
    font-size: 20px;
    font-weight: 600;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

.hal_1 button {
  color: #fff;
  background-color: #eaa51b;
  border-radius: 24px;
  font-size: 22px;
  width: 234px;
  height: 49px;
  font-weight: 500px;
  border: #eaa51b;
  margin-top: 1rem;
  font-family: "Assistant", sans-serif;
}

  .hal_2 {
    padding-top: 3rem;
    height: 250vh;
  }

  .hal_2 .hal_2_bagian_satu .hal_2_image_dua {
    left: 4%;
    top: 35%;
    display: none;
  }
  .hal_2 .hal_2_bagian_satu .hal_2_image_satu {
    left: 10%;
    top: 122px;
    display: none;
  }

  .hal_2 .hal_2_bagian_satu .hal_2_image_satu img {
    width: 300px;
    height: 400px;
  }
  .hal_2 .hal_2_bagian_satu .hal_2_image_dua img {
    width: 200px;
  }

  .hal_2 .hal_2_bagian_satu .hal_2_visimisi {
    width: 90%;
    left: 5%;
    top: 5%;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .hal_2 .hal_2_bagian_satu .hal_2_visimisi .paragraf_awal {
    font-size: 12px;
  }
  .hal_2 .hal_2_bagian_satu .hal_2_visimisi h1 {
    font-size: 32px;
  }
  .hal_2 .hal_2_bagian_satu .hal_2_visimisi p {
    font-size: 16px;
  }

  .hal_2 .hal_2_bagian_satu .hal_2_visimisi .btn_visi_misi .btn_1 {
    padding: 1rem 2.5rem;
    font-size: 13px;
  }
  .hal_2 .hal_2_bagian_satu .hal_2_visimisi .btn_visi_misi .btn_2 {
    padding: 1rem 2.5rem;
    font-size: 13px;
  }

  .hal_2 .hal_2_bagian_satu .hal_2_visimisi .last_paragraf {
    font-size: 16px;
    padding-left: 2rem;
    padding-bottom: 0;
  }
  .hal_2 .hal_2_bagian_satu .hal_2_visimisi .last_paragraf_dua {
    font-size: 16px;
    padding-left: 2rem;
    padding-bottom: 0;
  }

  .hal_2_bagian_dua {
    color: #fff;
    padding: 2rem;
    padding-top: 0;
    margin-top: 10%;
  }

  .hal_2_bagian_dua .penghubung {
    flex-direction: column;
    gap: 0;
  }

  .hal_2_bagian_dua .card_bagian_dua {
    display: flex;
    flex-direction: column;
    float: right;
    align-items: flex-end;
    gap: 30px;
    width: 100%;
  }

  .hal_2_bagian_dua .card_bagian_dua p {
    font-size: 15px;
  }
  .hal_2_bagian_dua .card_bagian_dua h3 {
    font-size: 20px;
  }
  .hal_2_bagian_dua .card_2 div i {
    font-size: 20px;
  }

  .hal_2_bagian_dua h1 {
    font-size: 32px;
  }
  .hal_2_bagian_dua h3 {
    font-size: 20px;
    width: 100%;
  }

  .hal_2_bagian_dua .image_bagian_dua_123 {
    height: 200px;
    width: 350px;
  }
  .hal_2_bagian_dua .image_bagian_dua {
    left: 1%;
    height: 246px;
}
.hal_2_bagian_dua .image_bagian_dua {
  height: 233px;
  width: 357px;
}

  .hal_2_bagian_dua .card_bagian_dua .card_1 {
    width: 350px;
    height: 290px;
    padding-left: 2rem;
  }
  .hal_2_bagian_dua .card_bagian_dua .card_2 {
    width: 350px;
    height: 250px;
    padding-left: 2rem;
  }

  .btn_bagian_dua {
    gap: 10px;
    margin-left: 4rem;
    bottom: 25%;
  }
  .btn_bagian_dua .btn_1 {
    width: 65px;
    height: 5px;
  }
  .btn_bagian_dua .btn_2 {
    width: 65px;
    height: 5px;
  }
  .btn_bagian_dua .btn_3 {
    width: 65px;
    height: 5px;
  }

  .hal_3 {
    height: 127vh !important;
  }

  .hal_3 h1 {
    font-size: 32px;
  }

  .hal_3 p {
    font-size: 20px;
    padding: 0.5rem;
  }

  .hal_3 .hal_3_image {
    flex-direction: column;
  }

  .hal_3 .hal_3_image .image_1 {
    width: 100%;
    height: 410px;
  }
  .hal_3 .hal_3_image .image_2 {
    width: 100%;
    height: 410px;
  }
  .hal_3 .hal_3_image .image_1 img {
    width: 100%;
    height: 410px;
  }
  .hal_3 .hal_3_image .image_2 img {
    width: 100%;
    height: 410px;
  }

  .subimage_1 {
    bottom: 5%;
    text-align: left;
    padding: 1rem;
  }

  .subimage_1 h1 {
    font-size: 32px;
    width: 95%;
    padding-left: 1rem;
  }

  .subimage_1 p {
    font-size: 16px;
    width: 90%;
    padding-left: 1rem;
  }

  .subimage_1 button {
    font-size: 16px;
    margin-left: 1rem;
    width: auto;
    height: 48px;
    padding: 0 0.5rem;
  }

  .hal_4 {
    padding: 0;
    height: 430vh;
  }

  .hal_4_bagian_2 .bg_hal_4_bagian_2 {
    width: 83%;
    height: 78rem;
}

  .hal_4 .awal {
    flex-direction: column-reverse;
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .hal_4 .awal .awal_kiri {
    width: 100%;
    padding: 2rem;
  }
  .hal_4 .awal .awal_kiri h1 {
    width: 90%;
    font-size: 32px;
    padding-top: 3rem;
  }
  .hal_4 .awal .awal_kiri p {
    width: 100%;
    font-size: 16px;
  }

  .hal_4 .awal .awal_kiri button {
    width: 160px;
    height: 44px;
  }
  .hal_4 .awal .awal_kiri button a {
    font-size: 16px;
  }

  .hal_4 .awal .awal_kanan .kiri h1,
  .kanan h1 {
    text-align: center;
    font-size: 70px;
  }
  .hal_4 .awal .awal_kanan .kiri p,
  .kanan p {
    text-align: center;
    font-size: 16px;
  }

  .hal_4 .awal .awal_kanan {
    padding-right: 0rem;
    padding-top: 4rem;
  }

  .hal_4 .awal .awal_kanan .kiri_kanan {
    gap: 2rem;
  }

  .card_kerusakan_hutan {
    gap: 1rem;
    grid-template-columns: auto;
    margin-top: 3rem;
  }

  .card .tanggal_Jenis_kerusakan {
    bottom: 38.9% !important;
  }

  .card {
    width: 362px !important;
  }

  .hal_4_bagian_2 .header .p_header_1 {
    font-size: 20px;
  }

  .hal_4_bagian_2 .header h1 {
    font-size: 32px;
  }

  .hal_4_bagian_2 .header .p_header_2 {
    font-size: 20px;
  }

  .konten_hal_4_bagian_2 .kotak.aktif_2 {
    margin-right: -0.2rem;
    margin-top: 112%;
  }

  .konten_hal_4_bagian_2 .kotak {
    width: 325px !important;
    height: 325px !important;
  }

  .konten_hal_4_bagian_2 .kotak.kotak.active {
    height: 390px !important;
    margin-top: 206%;
    margin-left: -0.2rem;
  }

  .button_hal_4 {
    margin-top: 296%;
  }

  .konten_hal_4_bagian_2 .kotak.aktif {
    margin-left: -0.2rem;
  }

  .konten_hal_4_bagian_2 .kotak.aktif {
    margin-left: 2.5rem !important;
  }

  .konten_hal_4_bagian_2 .kotak.aktif_2 {
    margin-right: 2.5rem !important;
  }

  .hal_5 .header_5 h1 {
    font-size: 32px;
  }

  .hal_5 .header_5 {
    flex-direction: column;
  }
  .hal_5 .header_5 a {
    margin-top: 1rem;
  }

  .card_berita_terkini {
    grid-template-columns: auto;
  }

  .card .tanggal_berita_terkini {
    bottom: 41.42%;
  }

  .hal_6 .header h1 {
    font-size: 32px;
  }

  .hal_6 .header p {
    font-size: 20px;
  }

  .konten_hal_6_bagian_2 {
    grid-template-columns: auto;
  }

  .konten_hal_6 img {
    width: 375px;
  }

  .hal_6 .bulat2 {
    width: 100px;
    height: 100px;
    margin-bottom: -50px;
    margin-right:-1rem;
}

  footer .footer__1 {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 2rem;
  }

  footer .footer__1 h1 {
    font-size: 30px;
    padding-bottom: 1rem;
  }

  footer .footer__2 {
    flex-direction: column;
    padding: 2rem;
  }
  footer .footer__2 .subfooter___2 p {
    font-size: 18px;
}

  footer .footer__2 .subfooter___1 h2 {
    bottom: -32px;
    width: 210%;
    left: 0;
  }

  footer .footer__2 .subfooter___2 {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 415px) {




  .hal_2 {
    height: 250vh;
  }

  .hal_2_bagian_dua .image_bagian_dua_123 {
    height: 200px;
    width: 340px;
  }
  .hal_2_bagian_dua .image_bagian_dua {
    left: 3%;
  }

  .btn_bagian_dua {
    margin-left: 3.7rem;
  }

  .hal_2_bagian_dua {
    color: #fff;
    padding: 2rem;
    padding-top: 0;
    margin-top: 0%;
  }


  .hal_4 {
    padding: 0;
    height: 450vh;
  }

  .konten_hal_4_bagian_2 .kotak {
    width: 365px !important;
    height: 350px !important;
  }

  .konten_hal_4_bagian_2 .kotak.aktif {
    margin-left: 0.5rem !important;
  }

  .konten_hal_4_bagian_2 .kotak.aktif_2 {
    margin-right: 0.26rem !important;
    margin-top: 116%;
  }

  .konten_hal_4_bagian_2 .kotak.kotak.active {
    height: 390px !important;
    margin-top: 216%;
    margin-left: 0.2rem;
  }

  .konten_hal_4_bagian_2 .kotak.aktif_2 {
    margin-right: 1rem !important;
    margin-top: 116%;
    padding: 1rem;
  }

  

  .button_hal_4 {
    margin-top: 311%;
  }

  .hal_2_bagian_dua .card_bagian_dua .card_1 {
    width: 340px;
    height: 290px;
  }
  .hal_2_bagian_dua .card_bagian_dua .card_2 {
    width: 340px;
    height: 270px;
  }

  .hal_3 {
    height: 132vh !important;
  }

  footer .footer__2 .subfooter___1 h2 {
    width: 241%;
  }
}

@media only screen and (max-width: 413px) {
  .hal_3 {
    height: 129vh !important;
  }
}


@media only screen and (max-width: 393px) {
  .hal_1 h1 {
    font-size: 39px;
  }

  .hal_1 h5 {
    font-size: 18px;
}

  .hal_1 button {
    font-size: 20px;
    width: 233px;
    height: 50px;
  }

  .hal_2 {
    height: 275vh !important;
  }

  .hal_2 .hal_2_bagian_satu .hal_2_visimisi h1 {
    font-size: 30px;
}

.hal_2 .hal_2_bagian_satu .hal_2_visimisi .btn_visi_misi .btn_1 {
  padding: 1rem 2.5rem;
  font-size: 13px;
}.hal_2 .hal_2_bagian_satu .hal_2_visimisi .btn_visi_misi .btn_2 {
  padding: 1rem 2.5rem;
  font-size: 13px;
}

.hal_2_bagian_dua .image_bagian_dua {
  left: 3%;
}

.hal_2_bagian_dua .card_bagian_dua .card_1 {
  padding-left: 3rem;
}
.hal_2_bagian_dua .card_bagian_dua .card_2 {
  padding-left: 3rem;
}

.hal_2_bagian_dua {
  color: #fff;
  padding: 2rem;
  padding-top: 4rem;
  margin-top: 0%;
}

.hal_2 {
  height: 264vh;
}


.hal_3 p {
  font-size: 19px;
}

.hal_4 .awal {
  flex-direction: column-reverse;
  padding-top: 4rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

.card {
  width: 335px !important;
}

.card .tanggal_Jenis_kerusakan {
  bottom: 40.7% !important;
}

.konten_hal_4_bagian_2 .kotak {
  width: 343px !important;
  height: 350px !important;
}

.konten_hal_4_bagian_2 .kotak.aktif {
  margin-left: 0.8rem !important;
}

.konten_hal_4_bagian_2 .kotak.aktif_2 {
  margin-right: 0.9rem !important;
  margin-top: 125%;
  padding: 1rem;
}

.konten_hal_4_bagian_2 .kotak.kotak.active {
  height: 390px !important;
  margin-top: 234%;
  margin-left: 0.2rem;
}

.button_hal_4 {
  margin-top: 336%;
}

.hal_4 {
  padding: 0;
  height: 483vh;
}

.konten_hal_6 img {
  width: 340px;
}

}

@media only screen and (max-width: 391px) {
  .hal_2 {
    height: 270vh !important;
  }

  .hal_2_bagian_dua {
    color: #fff;
    padding: 2rem;
    padding-top: 2rem;
    margin-top: 0%;
  }
  .hal_6 .header p {
    font-size: 20px;
    padding: 1rem;
  }
}

@media only screen and (max-width: 376px) {
  .hal_2_bagian_dua .image_bagian_dua {
    left: 2%;
    width: 333px;
}

.hal_2_bagian_dua .image_bagian_dua_123 {
  height: 200px;
  width: 325px;
}
.hal_2 {
  height: 300vh !important;
}

.btn_bagian_dua {
  margin-left: 3rem;
}

.hal_2_bagian_dua .card_1 div i {
  background-color: #9daf96;
  color: #fff;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 5rem;
}

.hal_2_bagian_dua .card_2 div i {
  background-color: #9daf96;
  color: #fff;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 5rem;
}

.hal_2_bagian_dua .card_bagian_dua .card_1 {
  padding-left: 4rem;
  height: 320px;
}
.hal_2_bagian_dua .card_bagian_dua .card_2 {
  padding-left: 4rem;
  height: 300px;
}

.hal_3 h1 {
  font-size: 30px;
}

.hal_3 {
  height: 145vh !important;
}

.hal_3 p {
  font-size: 18px;
}

.card {
  width: 323px !important;
}

.card .tanggal_Jenis_kerusakan {
  bottom: 41.6% !important;
}

.konten_hal_4_bagian_2 .kotak {
  width: 325px !important;
  height: 325px !important;
}

.button_hal_4 {
  margin-top: 340%;
}

.hal_4 {
  padding: 0;
  height: 500vh;
}

.hal_6 .header p {
  font-size: 20px;
  padding: 1rem;
}

footer .footer__2 .subfooter___1 {
    position: relative;
    width: 34%;
}
}

@media only screen and (max-width: 362px) {
  .hal_2 {
    height: 290vh !important;
  }

  .hal_2_bagian_dua {
    color: #fff;
    padding: 2rem;
    padding-top: 2rem;
    margin-top: 0%;
  }

  .hal_2_bagian_dua .image_bagian_dua {
    left: 0%;
}

.hal_2_bagian_dua .image_bagian_dua {
  height: 233px;
  width: 340px;
}

  .hal_3 {
    height: 155vh !important;
  }

  .hal_4 .awal .awal_kanan .kiri h1, .kanan h1 {
    text-align: center;
    font-size: 62px;
}
.konten_hal_4_bagian_2 .kotak.aktif_2 {
  margin-right: 0.5rem !important;
  margin-top: 125%;
  padding: 1rem;
}
.hal_4 {
  padding: 0;
  height: 512vh;
}
footer .footer__1 h1 {
  font-size: 29px;
  padding-bottom: 1rem;
}
}

@media only screen and (max-width: 325px) {
  .hal_1 {
    color: #fff;
    text-align: center;
    padding-top: 3rem;
}

.hal_1 h1 {
  font-size: 30px;
  padding: 0rem;
}
.hal_1 h5 {
  font-size: 18px;
}

.hal_1 button {
  font-size: 18px;
  width: 222px;
  height: 45px;
}

.hal_2 .hal_2_bagian_satu .hal_2_visimisi h1 {
  font-size: 28px;
}

.hal_2 .hal_2_bagian_satu .hal_2_visimisi p {
  font-size: 14px;
}

.hal_2 .hal_2_bagian_satu .hal_2_visimisi .btn_visi_misi .btn_1 {
  padding: 0.5rem 1.5rem;
  font-size: 13px;
}
.hal_2 .hal_2_bagian_satu .hal_2_visimisi .btn_visi_misi .btn_2 {
  padding: 0.5rem 1.5rem;
  font-size: 13px;
}

.hal_2 .hal_2_bagian_satu .hal_2_visimisi .last_paragraf {
  font-size: 14px;
  padding-left: 2rem;
  padding-bottom: 0;
}

.hal_2 .hal_2_bagian_satu .hal_2_visimisi .last_paragraf_dua {
  font-size: 14px;
  padding-left: 2rem;
  padding-bottom: 0;
}

.hal_2_bagian_dua h1 {
  font-size: 29px;
}

.hal_2_bagian_dua h3 {
  font-size: 18px;
  width: 100%;
}

.hal_2_bagian_dua .image_bagian_dua_123 {
  height: 200px;
  width: 300px;
}

.btn_bagian_dua .btn_2 {
  width: 50px;
  height: 4px;
}
.btn_bagian_dua .btn_1 {
  width: 50px;
  height: 4px;
}
.btn_bagian_dua .btn_3 {
  width: 50px;
  height: 4px;
}

.hal_2_bagian_dua .image_bagian_dua {
  left: 0%;
}

.hal_2_bagian_dua .image_bagian_dua {
  height: 233px;
  width: 300px;
}

.btn_bagian_dua {
  margin-left: 4.1rem;
}

.hal_2_bagian_dua .card_bagian_dua .card_1 {
  width: 300px;
  height: 310px;
  padding: 1.5rem;
  padding-top: 0;
  padding-bottom: 2rem;
}
.hal_2_bagian_dua .card_bagian_dua .card_2 {
  width: 300px;
  height: 310px;
  padding: 1.5rem;
  padding-top: 0;
  padding-bottom: 3rem;
}

.hal_2 {
  height: 400vh !important;
  padding-top: 0;
}

.hal_3 h1 {
  font-size: 26px;
}

.hal_3 p {
  font-size: 18px;
  padding: 0.5rem;
}

.hal_4 .awal .awal_kiri h1 {
  width: 90%;
  font-size: 28px;
  padding-top: 3rem;
}

.hal_4 .awal .awal_kiri p {
  width: 100%;
  font-size: 14px;
}

.hal_4 .awal .awal_kiri button a {
  font-size: 15px;
}

.hal_4 .awal .awal_kiri button {
  width: 145px;
  height: 43px;
}

.card {
  width: 303px !important;
}

.card .tanggal_Jenis_kerusakan {
  bottom: 43% !important;
}

.hal_3 p {
  font-size: 18px;
  padding: 1rem;
}

.hal_4_bagian_2 .header h1 {
  font-size: 28px;
}

.hal_4_bagian_2 .header .p_header_2 {
  font-size: 18px;
}

.konten_hal_4_bagian_2 .kotak {
  width: 300px !important;
  height: 325px !important;
}
.konten_hal_4_bagian_2 .kotak.aktif {
  margin-left: 1rem !important;
}

.konten_hal_4_bagian_2 .kotak.aktif_2 {
  margin-right: 0.8rem !important;
  margin-top: 125%;
  padding: 1rem;
}

.hal_4 {
  padding: 0;
  height: 670vh;
}

.konten_hal_4_bagian_2 {
  width: 102%;
  margin: 0 !important;
}

.button_hal_4 {
  margin-top: 375%;
}

.konten_hal_4_bagian_2 .kotak_header p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

.konten_hal_4_bagian_2 .kotak_header i {
  font-size: 18px;
  padding: 0.5rem;
  background: #255946;
  color: #fff;
  margin-right: 1rem;
}

.konten_hal_4_bagian_2 p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.hal_5 .header_5 h1 {
  font-size: 29px;
}

.card-tittle {
  color: #255946;
  font-size: 24px;
  font-family: "Inter", sans-serif;
}

.card .tanggal_berita_terkini {
  bottom: 41.2%;
}

.hal_6 .header h1 {
  font-size: 30px;
}

.hal_6 .header p {
  font-size: 18px;
  padding: 1rem;
} 

.konten_hal_6 img {
  width: 300px;
}

footer .footer__1 h1 {
  font-size: 25px;
  padding-bottom: 1rem;
}

footer .footer__2 .subfooter___1 h2 {
  width: 241%;
  font-size: 26px;
}

footer .footer__1 button {
  width: auto;
  color: #255946;
  background-color: #eaa51b;
  font-weight: bold;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.4s;
}

footer .footer__3 p {
    text-align: center;
    margin-bottom: 0;
    font-size: 16px;
}

}