* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,500;1,700&display=swap");

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Assistant", sans-serif;
}

/* input cari start */

.cari_berita_terkini {
  display: flex;
  justify-content: center;
  margin: 60px;
}

.input_berita_terkini {
  width: 545px;
  height: 42px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 0.6rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 1px solid #a0abc0;
  border-left: 1px solid #a0abc0;
  border-bottom: 1px solid #a0abc0;
  border-right: 1px solid #a0abc0;
}

.cari_berita_terkini button {
  height: 42px;
  width: 42px;
  background-color: #eaa51b;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button_cari_berita:hover {
  background-color: #cb8a09;
}

/* input cari end */

/* banner start */

.background__banner {
  background-image: url(../img/img_berita_terkini/image3.png);
  color: #fff;
  height: 232px;
  background-size: cover;
}

.banner {
  background: #25594699 60%;
  text-align: center;
  height: 100%;
}

.banner p {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-top: 2rem;
}

.banner p span a {
  opacity: 70%;
  color: #fff;
  text-decoration: none;
}

.banner h1 {
  font-size: 48px;
  font-family: "Raleway", sans-serif;

  font-style: normal;
  font-weight: 500;
}

/* banner end */

/* card Berita terkini */

.card_berita_terkini {
  display: grid;
  margin: 3rem;
  gap: 3rem;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
}

#hilang_7,
#hilang_8,
#hilang_9,
#hilang_10,
#hilang_11,
#hilang_12,
#hilang_13,
#hilang_14,
#hilang_15,
#hilang_16,
#hilang_17,
#hilang_18 {
  display: none !important;
}

.card_berita_terkini img {
  height: 265px;
  object-fit: cover;
}

.card {
  border-radius: 20px !important;
  box-shadow: -1px 5px 10px #aaa !important;
  width: 390px;
}

.card-img-top {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.card-body {
  padding: 2rem !important;
}

.card-tittle {
  color: #255946;
  font-size: 26px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.card-text {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #1a202c;
}

.card .card-body .btn {
  background-color: #eaa51b;
  border: 1px solid #eaa51b;
  width: 120px;
  height: 40px;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 0.5rem;
}

.card .card-body .btn:hover {
  background-color: #cb8a09;
  border: 1px solid #cb8a09;
}

.button_left_berita {
  display: flex;
  justify-content: end;
  align-items: end;
}

/* card berita terkini end */

/* paging berita terkini start */
.paging_berita_terkini {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
  margin-top: 60px;
}

.button_paging_berita.active {
  background-color: #eaa51b;
}

.paging_berita_terkini a {
  text-decoration: none;
  color: #1a202c;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.button_paging_berita {
  width: 41.3px;
  height: 38px;
  background-color: white;
  border: 1px solid #cbd2e0;
  margin-left: 2px;
  font-weight: 400; 
}

.paging_berita_terkini button:hover {
  background-color: #eaa51b !important;
}

#paging_4,
#paging_5 {
  display: none;
}

/* paging berita terkini end */

/* responsive */
/* media laptop full hd */

/* full HD 1920 */
@media only screen and (min-width: 1920px) {
  .card .card-body .btn {
    font-size: 13px;
  }

  .card {
    width: 500px;
  }
}

@media only screen and (max-width: 1919px) {
  .card .card-body .btn {
    font-size: 13px;
  }

  .card {
    width: 500px;
  }
}

@media only screen and (max-width: 1682px) {
  .card {
    width: 480px;
  }
  .card_berita_terkini {
    gap: 1.5rem;
  }
}

@media only screen and (max-width: 1562px) {
  .card {
    width: 450px;
  }
}

@media only screen and (max-width: 1440px) {
  .card {
    width: 420px;
  }
}

@media only screen and (max-width: 1367px) {
  .card_berita_terkini {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 2rem;
  }
  .card {
    width: 100%;
  }

  .card-tittle {
    font-size: 24px;
  }
}


@media only screen and (max-width: 1233px) {
  .card {
    width: 350px !important;
  }
}

@media only screen and (max-width: 1138px) {
  .card {
    width: 320px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .card {
    width: 300px !important;
  }
}

@media only screen and (max-width: 991px) {
  .card_berita_terkini {
    grid-template-columns: auto auto;
  }
  .card {
    width: 100% !important;
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .card_berita_terkini {
    display: block;
    margin: 1rem;
    width: 100%;
  }
  .cari_berita_terkini {
    margin: 20px;
    margin-right: 25px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .card {
    width: 100% !important;
    margin: 0;
  }

  #hilang_7,
  #hilang_8,
  #hilang_9,
  #hilang_10,
  #hilang_11,
  #hilang_12,
  #hilang_13,
  #hilang_14,
  #hilang_15,
  #hilang_16,
  #hilang_17,
  #hilang_18 {
    display: none !important;
  }
  .page_gambar_galeri {
    padding: 1rem;
  }

  .background__banner {
    background-image: url(../img/img_berita_terkini/image3.png);
    color: #fff;
    height: 20rem;
    padding-top: 0rem;
    background-size: cover;
}
.banner {
  background: #25594699 60%;
  text-align: center;
  height: 100%;
  padding-top: 5rem !important;
}
}

@media only screen and (max-width: 429px) {
  .card_berita_terkini {
    grid-template-columns: auto;
    padding: 0;
    margin: 1rem !important;
    gap: 1rem;
  }
  .card {
    width: 92% !important;
    margin: 0;
    margin-top: 1.3rem;

  }

  .card-tittle {
    font-size: 23px;
  }
  .banner p {
    font-size: 16px;
    padding-top: 2rem;
  }
  .banner h1 {
    margin-top: 1rem;
    font-size: 30px;
    padding: 0.5rem;
}
  .input_berita_terkini {
    width: 100%;
  }
  .card_berita_terkini {
    gap: 2rem;
  }

  #hilang_7,
  #hilang_8,
  #hilang_9,
  #hilang_10,
  #hilang_11,
  #hilang_12,
  #hilang_13,
  #hilang_14,
  #hilang_15,
  #hilang_16,
  #hilang_17,
  #hilang_18 {
    display: none !important;
  }

}