* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Arial Narrow", Arial, sans-serif;
}

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;900&family=Raleway:ital,wght@0,300;0,500;0,600;0,700;0,900;1,300;1,500;1,700&display=swap');
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
}

/* navbar start */

.navbar {
  margin-bottom: 1rem;
 padding: 2rem !important;
}
.navbar .navbar-nav a.active {
  color: #eaa51b;
  font-weight: bold;
}
.navbar .navbar-nav {
  margin-right: 10%;
}
.navbar .navbar-nav a {
  color: #fff;
  margin-left: 1rem;
  font-size: 24px !important;
}
.navbar .navbar-nav a:hover {
  color: #eaa51b !important;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid #eaa51b;
  transform: scaleX(0);
  transition: 0.4s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.7);
}

.navbar button {
  height: 50px;
  color: #fff;
  border: none;
  background-color: #eaa51b;
}

.navbar button a {
  text-decoration: none;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar button:hover {
  background-color: #cb8a09;
  color: #fff;
  transition: 0.4s linear;
}
.navbar .navbar-brand {
  font-size: 32px;
  margin-top: -1rem;
  font-weight: 500;
}
.navbar .navbar-nav a {
  font-size: 20px;
}
.navbar button {
  font-size: 20px;
}
/* navbar end */

/* responsive */
/* media laptop full hd */

/* full HD 1920 */
@media screen and (max-width: 1920px) {
  /* navbar responsive start */
  /* navbar responsive end */
}

@media screen and (max-width: 1200px) {
  /* navbar responsive start */
  .navbar .navbar-nav {
    margin-right: 5%;
  }
  .navbar .navbar-nav a {
    margin-left: 0.2rem;
  }
  /* navbar responsive end */
}

@media screen and (max-width: 1018px) {
  /* navbar responsive start */
  .navbar .navbar-nav a {
    margin-left: 0.2rem;
  }
  /* navbar responsive end */
}

@media screen and (max-width: 375px) {
  /* navbar responsive start */
  .navbar .navbar-brand {
    font-size: 24px;
  }
  /* navbar responsive end */
}

/* hal 1 start */

  .background_landing_page {
    height: 120vh;
    background-image: url(../img/img_landing_page/bg\ _landing_page.png);
    filter: brightness(85%);
    background-size: cover;
  }

  .hal_1 {
    color: #fff;
    text-align: center;
    padding-top: 7rem;
  }

  .hal_1 h5 {
    font-size: 36px;
    font-weight: 600;
  }

  .hal_1 h1 {
    font-size: 80px;
    font-weight: bold;
  }

  .hal_1 button {
    color: #fff;
    background-color: #eaa51b;
    border-radius: 24px;
    padding: 0.5rem 2rem;
    font-size: 24px;
  }
  .hal_1 button:hover {
    background-color: #ce9117;
  }

/* hal 1 end */


/* bagian footer */

footer {
  background: #255946;
  color: #fff;
}

footer span {
  font-family: "Poppins";
}

footer .footer__1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}

footer .footer__1 h1 {
  font-size: 35px;
  font-weight: bold;
}

footer .footer__1 button {
  width: auto;
  color: #255946;
  background-color: #eaa51b;
  font-weight: bold;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-size: 20px;
  transition: 0.4s;
}

footer .footer__1 button:hover {
  background-color: #ce9117;
}

footer hr {
  border: 2px solid #579b7b;
  width: 87.5%;
  margin: auto;
  filter: brightness(200%);
}

footer .footer__2 {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  align-items: baseline;
}

footer .footer__2 .subfooter___1 {
  position: relative;
  width: 14%;
}

footer .footer__2 .subfooter___1 h2 {
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  left: 3%;
}

footer .footer__2 .subfooter___2 p {
  font-size: 20px;
}

footer .footer__2 .subfooter___3 p {
  font-size: 20px;
}

footer .footer__2 .subfooter___3 div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer .footer__2 .subfooter___3 div i {
  background-color: #eaa51b;
  text-align: center;
  padding: 0.5rem 0.5rem;
  width: 2rem;
  border-radius: 5px;
  color: #255946;
  transition: 0.4s;
  cursor: pointer;
}
footer .footer__2 .subfooter___3 div i:last-child {
  background-color: #eaa51b;
  padding-right: 1.63rem;
}

footer .footer__2 .subfooter___3 div i:hover {
  background-color: #ce9117;
}

footer .footer__3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer .footer__3 p {
  text-align: center;
  margin-bottom: 0;
  font-size: 20px;
}
                                                          